# Local POC only. Copy to .env and change values if desired.
POSTGRES_DB=payments
POSTGRES_USER=payments
POSTGRES_PASSWORD=payments
RABBITMQ_USER=payments
RABBITMQ_PASSWORD=payments
JWT_SECRET=change-this-demo-secret-change-this-demo-secret

# Configurable POC risk controls
RISK_MAX_TRANSACTION_AMOUNT=50000.00
RISK_MAX_DAILY_CUSTOMER_AMOUNT=100000.00
RISK_MAX_DAILY_ACCOUNT_AMOUNT=100000.00
